* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --color-base-whith: #ffffff;
  --color-base-black: #251f1e;
  --color-gray-light: #eeeeee;
  --color-base-blue: #523ead;
  --color-base-dark: #09090b;
}
body,
button,
input {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 4rem;
  color: var(--color-base-black);
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 1.4rem;
}
small{
  font-size: 1.2rem;
  color: #ff5a5a;
}
span{
    font-size: 1.4rem;
    color: var(--color-base-black);
}


button {
  padding: 1rem 5rem;
  border-radius: 3rem;
  border: none;
  background-color: var(--color-base-blue);
  color: var(--color-base-whith);
  font-size: 1.6rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.22);
}

button:active {
  transform: scale(0.97);
}


@media (min-width: 700px) {
  .app {
    height: 100vh;
    display: grid;
    place-items: center;
    align-items: center;
    background-color: #ebebeb;
  }

}
